<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Quizz</title>
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>
    <h1>Quizz</h1>
    <a th:href="@{/quizz/createedit/0}" class="btn btn-success rounded">+</a>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Type</th>
            <th>Thèmes</th>
            <th>Créateur</th>
            <th></th>
        </tr>
        <tr th:if="${allQuizz.size() == 0}">
            <td colspan="6">Aucun quizz trouvé</td>
        </tr>
        <tr th:each="quizz: ${allQuizz}">
            <td><a th:href="@{'/quizz/show/' + ${quizz.id}}" th:text="${quizz.nom}"></a></td>
            <td th:text="${quizz.description}" />
            <td th:text="${quizz.type.nom}" />
            <td><span th:each="theme: ${quizz.themes}" class="badge badge-info" th:text="${theme.nom}" /></td>
            <td th:text="${quizz.createur.nom}" />
            <td><a class="btn btn-warning" th:href="@{'/quizz/createedit/' + ${quizz.id}}">Edit</a><a class="btn btn-danger" th:href="@{'/quizz/' + ${quizz.id} + '/delete'}">Supprimer</a></td>
        </tr>
    </table>
</body>
</html>